@model Booksite.Models.Account
@{
    ViewBag.Title = "Login";
    Layout = "/Views/Shared/_LayoutDetails.cshtml";
}

<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Login</h3>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <form action="#" method="post">
                    <div class="key">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" }) <br>
                        <div class="clearfix"></div>
                        <div class="key">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" }) <br>
                            <div class="clearfix"></div>
                        </div>
                        <input type="submit" value="Login">
                </form>
            }
        </div>
        <div class="forg">
            <a href="#" class="forg-left">Forgot Password</a>
            <a href="~/Account/Register" class="forg-right">Register</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

